@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);
@import "~ng-pick-datetime/assets/style/picker.min.css";
.cdk-overlay-container {
    background: none !important;
}

.load-page {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #0476d2;
}

.load {
    color: #fff;
    justify-content: center;
    text-align: center;
    animation: fa-spin 2s infinite linear;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.load i {
    align-items: center;
    align-content: center;
    font-size: 60pt;
}