<div id="sidebar" [ngClass]="{'hideMenu':atividade,'showMenu':!atividade}">
    <!-- sidebar menu start-->
    <div style="height:75px"></div>
    
    <ul class="sidebar-menu">
      <li class="sub-menu">
        <a [routerLink]="'/cadastros/alerta'">
          <span>Alerta</span>
        </a>
      </li>
      <li class="sub-menu">
        <a [routerLink]="'/cadastros/tipo'">
          <span>Tipo</span>
        </a>
      </li>
      <li class="sub-menu">
        <a [routerLink]="'/cadastros/consequencia'">
          <span>Consequencia</span>
        </a>
      </li>
      <li class="sub-menu">
        <a [routerLink]="'/cadastros/verdade'">
          <span>Verdade</span>
        </a>
      </li>
    </ul> 
    <!-- sidebar menu end-->
</div>
