<!-- Tela verdade cadastro -->
<div class="row mt" [ngClass]="{ 'redimensiona':global.isExpanded }" *ngIf="novaVerdade">
  <div class="col-lg-12">
    <div class="white-panel form-panel">
      <div class="white-header" style="justify-content: space-between; display:flex">
        <div>
          <h4 class="titulo_painel">Cadastro de Verdade</h4>
        </div>
        <div>
          <button class="btn btn-sm btn-default btn_nav" (click)="back()">Voltar</button>
        </div>
      </div>
      <form class="form-horizontal style-form">

        <div class="row col-xs-12 col-lg-12">
          <div class="form-group col-xs-4">
            <label class="acerta_w control-label"><b style="color:#aa0028">*</b>Descrição:</label>
            <div class="col-lg-12">
              <input [(ngModel)]="verdade.descricao" type="text" class="form-control" name="verdade_descricao">
            </div>
          </div>

          <div class="form-group col-xs-4">
            <label class="acerta_w control-label"><b style="color:#aa0028">*</b>Idade:</label>
            <div class="col-lg-12">
              <select class="form-control" [(ngModel)]="verdade.idade" id="verdade_idade_id" name="verdade_idade_id" required>
                <option disabled selected>Selecione..</option>
                <option *ngFor="let e of listaIdades" [ngValue]="e.id">
                  {{e.descricao}}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group col-xs-4">
            <label class="acerta_w control-label"><b style="color:#aa0028">*</b>Sequencia:</label>
            <div class="col-lg-12">
              <select class="form-control" [(ngModel)]="verdade.id_sequencia" id="verdade_idade_id" name="verdade_idade_id" required>
                <option disabled selected>Selecione..</option>
                <option *ngFor="let e of listaSequencias" [ngValue]="e.id">
                  {{e.descricao}}
                </option>
              </select>
            </div>
          </div>

        </div>

        <!--inserindo tipos-->
        <div class="white-header" style="justify-content: space-between; display:flex; margin-bottom: 0px;">
          <div class="row col-sm-12">
            <div class="form-group col-xs-11" style="padding-bottom: 0px; padding-top: 15px;">
              <label class="control-label"><b style="color:#aa0028">*</b>Tipo:</label>
              <div class="col-sm-12" style="padding-right: 0px;">
                <select class="form-control" [(ngModel)]="verdade.tipo" id="verdade_tipo_id" name="verdade_tipo_id" required>
                  <option disabled selected>Selecione..</option>
                  <option *ngFor="let e of listaTipos" [ngValue]="e">
                    {{e.descricao}}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group col-xs-1" style="padding-bottom: 0px; padding-top: 15px; padding-left: 0px; padding-right: 30px;">
              <button class="btn btn-theme" type="button" (click)="addTipo(verdade.tipo)" style="width: 100%"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>

        <section id="no-more-tables" style="margin-top: 15px;">
          <table class="table table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th>Tipo</th>
                <th style="width: 10%">Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ver of verdade.Tipos; let i = index" [attr.data-index]="i">
                <td data-title="Nome">{{ver.descricao}}</td>
                <td data-title="Ação">
                  <button class="btn btn-sm btn-danger" title="Remover" (click)="removeTipo(i)">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <!--inserindo opções-->
        <div class="white-header" style="justify-content: space-between; display:flex; margin-bottom: 0px;">
          <div class="row col-sm-12">
        
            <div class="form-group col-xs-11" style="padding-bottom: 0px; padding-top: 15px;">
              <label class="control-label"><b style="color:#aa0028">*</b>Opção:</label>
              <div class="col-lg-12">
                <input [(ngModel)]="verdade.opcao" type="text" class="form-control" name="alerta_nome">
              </div>
            </div>

            <div class="form-group col-xs-1" style="padding-bottom: 0px; padding-top: 15px; padding-left: 0px; padding-right: 30px;">
              <button class="btn btn-theme" type="button" (click)="addOpcao(verdade.opcao)" style="width: 100%"><i class="fa fa-plus"></i></button>
            </div>
          </div>
        </div>

        <section id="no-more-tables" style="margin-top: 15px;">
          <table class="table table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th style="width: 5%">Letra</th>
                <th>Opção</th>
                <th style="width: 5%">Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ver of verdade.Opcoes; let j = index" [attr.data-index]="j">
                <td data-title="Letra">{{retornaLetra(j)}}</td>
                <td data-title="Nome">{{ver.descricao}}</td>
                <td data-title="Ação">
                  <button class="btn btn-sm btn-danger" title="Remover" (click)="removeOpcao(i)">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <div class="legenda" style="padding-top: 0px;">
          <label class="control-label"><b>Legenda:</b></label> &nbsp;
          <a class="btn btn-sm btn-danger">
            <i class="fas fa-times"></i>
          </a>
          &nbsp;
          <label class="control-label">Remover</label>
        </div>
        <!-- botão de salvar -->
        <div class="row text-center">
          <button class="btn btn-theme btn-salvar" (click)="submit()">Salvar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Tela verdade inicial -->
<div class="row mt" [ngClass]="{ 'redimensiona':global.isExpanded }" *ngIf="!novaVerdade">
  <div class="col-lg-12">
    <div class="white-panel form-panel">
      <div class="white-header" style="justify-content: space-between; display:flex">
        <div>
          <h4 class="titulo_painel">Lista de Verdades</h4>
        </div>
        <div>
          <button class="btn btn-sm btn-primary btn_nav" (click)="add()">
            Adicionar Verdade
          </button>
        </div>
      </div>

      <div class="row pesquisa_verdade">
        <table class="table table-bordered table-striped table-condensed cf" style="border: 0px;margin-left: 10px;width: 98.5%;">
          <tr style="background-color:transparent; border: 0px;">
            <th style="border: 0px; width: 33%; padding-bottom:0px">
              <label style="margin:0px">Descrição:</label>
            </th>
            <th style="border: 0px; width: 33%; padding-bottom:0px">
              <label style="margin:0px">Tipo:</label>
            </th>
            <th style="border: 0px; width: 33%; padding-bottom:0px">
              <label style="margin:0px">Idade:</label>
            </th>
          </tr>
          <tr style="background-color:transparent; border: 0px;">
            <td style="border: 0px; ">
              <input [(ngModel)]="filtro.descricao" type="text" class="form-control" name="verdade_nome">
            </td>
            <td style="border: 0px; ">
              <select class="form-control" [(ngModel)]="filtro.tipo" id="filtro_tipo_id" name="filtro_tipo_id" required>
                <option selected>Selecione..</option>
                <option *ngFor="let e of listaTipos" [ngValue]="e.id">
                  {{e.descricao}}
                </option>
              </select>
            </td>
            <td style="border: 0px; ">
              <select class="form-control" [(ngModel)]="filtro.idade" id="filtro_tipo_id" name="filtro_tipo_id" required>
                <option selected>Selecione..</option>
                <option *ngFor="let e of listaIdades" [ngValue]="e.id">
                  {{e.descricao}}
                </option>
              </select>
            </td>
          </tr>
        </table>

        <section id="no-more-tables">
          <table class="table table-bordered table-striped table-condensed cf">
            <thead class="cf">
              <tr>
                <th>Descrição</th>
                <th>Tipo</th>
                <th>Idade</th>
                <th style="width: 10%">Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let verdad of listaVerdades | filterBy: filtro">
                <td data-title="Descrição">{{verdad.descricao}}</td>
                <td data-title="Tipo"><div *ngFor="let tipo of verdad.tipos">{{tipo.descricao.toUpperCase()}}<span *ngIf="i < verdad.tipos.length -1"> | </span></div></td>
                <td data-title="Idade">{{descIdade(verdad.idade)}}</td>
                <td data-title="Ação">
                  <button class="btn btn-sm btn-warning" title="Editar" (click)="edit(verdad)">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-sm btn-danger" title="Remover" (click)="remove(verdad)">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </section>

        <div class="legenda">
          <label class="control-label">Legenda:</label> &nbsp;
          <!-- item -->
          <a class="btn btn-sm btn-warning cancelaHover">
            <i class="fas fa-edit"></i>
          </a>
          &nbsp;
          <label class="control-label">Editar</label>
          <!-- separador -->
          &emsp;|&emsp;
          <a class="btn btn-sm btn-danger">
            <i class="fas fa-times"></i>
          </a>
          &nbsp;
          <label class="control-label">Remover</label>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(255,255,255,0.3)', backdropBorderRadius: '10px',
        primaryColour: '#0196ed', secondaryColour: '#23527c', tertiaryColour: '#0196ed' }"></ngx-loading>
